.site-logo {
    padding: 1em 0 0 1em;
    max-width: 15em;
    height: auto;
}
.site-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1000;
    background: #F1D1CB;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.site-nav ul{
    display: flex;
    justify-content: space-evenly;
    gap: 2em;
    padding: 0;
    margin: 0;
    width: 100%;
}
.site-nav li{
    font-weight: bolder;
    font-size: x-large;
    list-style: none;
    color: #A5348A;
}
.site-nav a {
    text-decoration: none;
    color: #A5348A;
}
.site-nav a:hover {
    text-decoration: underline;
}
.site-nav li.active a {
    border-radius: .25em;
    background-color: #A5348A;
    color: #F1D1CB;
}
.site-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #F1D1CB;
    margin: 0;
}
.site-content {
    flex: 1;
}
.home-banner {
    max-width: 100%;
    height: auto;
}
footer {
    background-color: #51893F;
    color: #F1D1CB;
}
.united-way-logo {
    margin: 1em 0 0 1em;
    max-width: 15em;
    height: auto;
}
/* Hide the checkbox and toggle button on desktop */
.nav-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 1em;
}
@media (max-width: 768px) {
    .nav-toggle {
        display: block;
        margin-left: .25em;
        order: 1;
        max-height: 30px;
        margin-bottom: 1em;
        box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    }

    .site-nav ul {
        display: none;
        position: absolute;
        top: 100%;    /* Sits directly under the nav bar */
        left: 0;
        width: 100%;
        flex-direction: column;
        background: #F1D1CB;
        box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    }

    /* When the JS adds this class, the menu shows up */
    .site-nav.is-open ul {
        display: flex;
    }

    /* Accessibility: Visual indicator for keyboard focus */
    .nav-toggle:focus {
        outline: 3px solid #A5348A;
        outline-offset: 2px;
        border-radius: .25em;
    }
}

/* Hamburger Icon bars */
.hamburger, .hamburger::before, .hamburger::after {
    display: block;
    background: #A5348A;
    height: 3px;
    width: 20px;
    border-radius: 2px;
    position: relative;
    transition: trasform 0.3s;
}
.hamburger::before, .hamburger::after {
    content: '';
    position: absolute;
}
.hamburger::before {
    top: -8px;
}
.hamburger::after {
    bottom: -8px;
}