.site-logo {
    padding: 1em 0 0 1em;
    max-width: 15em;
    height: auto;
}
.site-nav {
    display: flex;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1000;
    background: #F1D1CB;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.site-nav ul{
    display: flex;
    justify-content: space-evenly;
    gap: 2em;
    padding: 0;
    margin: 0;
    width: 100%;
}
.site-nav li{
    font-weight: bolder;
    font-size: x-large;
    list-style: none;
    color: #A5348A;
}
.site-nav a {
    text-decoration: none;
    color: #A5348A;
}
.site-nav a:hover {
    text-decoration: underline;
}
.site-nav li.active a {
    border-radius: .25em;
    background-color: #A5348A;
    color: #F1D1CB;
}
.site-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #F1D1CB;
    margin: 0;
}
.site-content {
    flex: 1;
}
.home-banner {
    max-width: 100%;
    height: auto;
}
footer {
    background-color: #51893F;
    color: #F1D1CB;
}
.united-way-logo {
    margin: 1em 0 0 1em;
    max-width: 15em;
    height: auto;
}