<footer>
    <a href="https://www.unitedway.org/">
        <img class="united-way-logo" src="/assets/images/UW+Logo+Generic_Full+Color.png" alt="United Way Logo">
    </a>
    <a href="https://www.facebook.com/tinyhomesMtPleasant/">
        <img class="facebook-logo" src="/assets/images/Facebook_Logo_Secondary.png" alt="Facebook Logo">
    </a>
    <p>Developed by Aaron Earnest | Visual Identity by Person1 | Consulting by Person2</p>
</footer>