    <nav class="site-nav" aria-label="Main Navigation">

        <!-- Screen readers will hear "Menu, collapsed, button" -->
        <button class="nav-toggle" aria-expanded="false" aria-controls="nav-list" aria-label="Toggle navigation">
            <span class="hamburger"></span>
        </button>

        <ul>
            {%- for entry in collections.all | eleventyNavigation -%}
            <li{% if entry.url == page.url %} class="active" aria-current="page"{% endif %}>
                <a href="{{ entry.url }}">{{ entry.title }}</a>
            </li>
            {%- endfor -%}
        </ul>
    </nav>