    <nav class="site-nav">
        <ul>
            {%- for entry in collections.all | eleventyNavigation -%}
            <li{% if entry.url == page.url %} class="active" aria-current="page"{% endif %}>
                <a href="{{ entry.url }}">{{ entry.title }}</a>
            </li>
            {%- endfor -%}
        </ul>
    </nav>